<template name="adminAccounts">  
    <nav class="z-depth-8 search-filter">
        <div class="nav-wrapper white">
            <form autocomplete="off">
            <div class="input-field">
                <input id="search" type="search" placeholder="Busca...">
                <label class="label-icon" for="search"><i class="material-icons">search</i></label>
                <i class="material-icons reset-button">close</i>
            </div>
            </form>
        </div>
    </nav>              
    {{ #if loading }}
        {{> spinner }}
     {{ else }}        
        {{> reactiveTable 
            class="table bordered striped usersTable" 
            collection=users 
            showNavigation='never' 
            filters=tableFilters
            showFilter=false
            settings=settings }}
    {{ /if }}
</template>
