<template name="editProfile">
  <div class="row">
    <div class="col s12 m8 push-m2 push-l4 l4 z-depth-1">
      <p class="flow-text">About you:</p>
      {{#autoForm collection=usersCollection doc=currentUser  schema=usersSchema
            id="editProfileForm" type="update" validation="submitThenBlur" trimStrings="true" removeEmptyStrings="true"}}
        <div class="row">
          <div class="input-field col s12">
            <input type="text" value="{{ email }}" disabled="true">
            <label class="active">Email</label>
          </div>
        </div>        
        {{> afQuickField name='profile.firstName' title='Required' }}
        {{> afQuickField name='profile.lastName' title='Required' }}
        {{> afQuickField name='profile.passport'  }}
        {{> afQuickField name='profile.club'  }}
        {{> afQuickField name='profile.phone' type='tel' }}
        {{> afQuickField name='profile.locality' }}
        {{> afQuickField name='profile.notes' type="textarea" rows=4 }}
        {{> afQuickField name='profile.name'}}
        <div class="row">            
            <div class="col s12 buttons">
                <div class="form-group">
                    <button type="submit" class="btn btn-primary add-checkpoint-button">Update profile</button>
                </div>
            </div>
        </div>
      {{/autoForm}}
    </div>
  </div>
</template>