<template name="competitionMain">  
    <div class="fixed-action-btn messages-btn" >
        <button data-target="messagesModal" class="btn modal-trigger brown lighten-4">MQTT</button>
      </div>  
  <div class="fixed-action-btn stopwatch">
    {{stopwatch}}
  </div>
  {{> competitionMap raceId=raceId currentRace=currentRace }}
  <div class="fixed-action-btn stopwatch-btn" >
      <a href="#" id="startCompetition-button" class="btn-floating btn-large waves-effect waves-light">
        <i class="material-icons">play_arrow</i>
      </a>
    </div>
  
    <div id="messagesModal" class="modal bottom-sheet">
    <div class="modal-content">
      <h4>MQTT Messages</h4>
      <ul>
        {{> mqttMessages }}
      </ul>
    </div>
  </div>  
</template>

<template name="mqttMessages">
  {{ #each messages }}
    <li>{{ topic }} - {{ message }}</li>
  {{ /each }}
</template>
